<div class="min-w-screen
min-h-screen
bg-teal-900
flex
items-center
justify-center
px-5
py-5">


<div class="w-full
mx-auto
rounded-xl
shadow-xl
text-gray-800
relative
overflow-hidden" style="max-width: 350px;">

   <h1 class="text-center text-white py-10 text-3xl font-bold">Angular Claculator</h1>



<!-- CALCULATOR SCREEN -->
   <div class="w-full
   h-40
   bg-gradient-to-b
   from-gray-800
   to-gray-700
   text-right">
  
<!-- FUNCTION SCREEN -->
 <div class="w-full
 py-5
 px-6
 text-2xl
 text-white
 font-thin">
{{funcT}}
</div>

<!-- NUMBER SCREEN -->
<div class="w-full
py-5
px-6
text-6xl
text-white
font-thin">
{{calValue | number}}
</div>
  </div>

<!-- END CALCULATOR SCREEN -->
<!-- CALCULATOR BUTTON AREA -->

<div class="w-full
 bg-gradient-to-b
 from-red-800
 to-red-700">

  <!-- 1ST ROW OF BUTTON -->
<div class="flex w-full">



  <!-- CLEAR BUTTON -->

   <div class="w-2/4 border-r border-b border-red-400">
      <button class="w-full
      h-16
      outline-none
      hover:bg-red-700hover:bg-opacity-20
      text-white
       text-xl
      font-light" (click) ="onClickValue('C','function')"> C </button>
      
  </div>
                <!-- END CLEAR BUTTON -->
                          <!-- PERCENTAGE BUTTON -->
                         <div class="w-1/4 border-r border-b border-red-400">
                          <button class="w-full
                          h-16
                          outline-none
                          focus:outline-none
                          hover:bg-red-700
                          hover:bg-opacity-50
                          text-xl
                          text-white
                          font-light"  (click) ="onClickValue('%','function')"> % </button>
</div>

                     <!-- END PERCENTAGE BUtton -->
                                    <!-- Division BUTTON -->
                             <div class="w-1/4 border-r border-b border-400">
                               <button class="w-full
                               h-16
                               outline-none
                               focus:outline-none
                               bg-red-700
                               bg-opacity-10
                               text-white
                               text-2xl
                               font-light"  (click) ="onClickValue('/','function')"> / </button>
                              </div>
                              </div>
                                               <!-- END OF 1ST BUTTON ROW -->

                                               <!-- START SECOND BUTTON AREA -->
                                               <div class="flex w-full">
                                                           <!-- Number 7 button -->
                                                         <div class="w-1/4 border-r border-b border-red-400">
                                                          <button class="w-full
                                                          h-16
                                                          outline-none
                                                          focus:outline-none
                                                          hover:bg-opacity-20
                                                          text-white
                                                          text-xl
                                                          font-light"  (click) ="onClickValue('7','number')">  7  </button>
                                                          </div>

                                                                              <!-- Number 8 button -->
                                                          <div class="w-1/4 border-r border-b border-red-400">
                                                            <button class="w-full
                                                            h-16
                                                            outline-none
                                                            focus:outline-none
                                                            hover:bg-opacity-20
                                                            text-white
                                                            text-xl
                                                            font-light"  (click) ="onClickValue('8','number')">  8  </button>
                                                            </div>

                                                            

                                                                            <!-- Number 9 button -->
                                                            <div class="w-1/4 border-r border-b border-red-400">
                                                              <button class="w-full
                                                              h-16
                                                              outline-none
                                                              focus:outline-none
                                                              hover:bg-opacity-20
                                                              text-white
                                                              text-xl
                                                              font-light"  (click) ="onClickValue('9','number')">  9  </button>
                                                              </div>

                                                              



                                                                             <!-- Multiplication button -->
                                                              <div class="w-1/4 border-r border-b border-red-400">
                                                                <button class="w-full
                                                                h-16
                                                                outline-none
                                                                focus:outline-none
                                                                hover:bg-opacity-20
                                                                text-white
                                                                text-xl
                                                                font-light"  (click) ="onClickValue('*','function')">  *  </button>
                                                                </div>
      


                                                      

                                               
                              </div>

                              <!-- END OF 2ND BUTTON AREA  -->

                              <!-- START OF 3RD BUTTON AREA -->

                              <div class="flex w-full">
                                <!-- Number 4 button -->
                              <div class="w-1/4 border-r border-b border-red-400">
                               <button class="w-full
                               h-16
                               outline-none
                               focus:outline-none
                               hover:bg-opacity-20
                               text-white
                               text-xl
                               font-light"  (click) ="onClickValue('4','number')">  4 </button>
                               </div>

                                                   <!-- Number 5 button -->
                               <div class="w-1/4 border-r border-b border-red-400">
                                 <button class="w-full
                                 h-16
                                 outline-none
                                 focus:outline-none
                                 hover:bg-opacity-20
                                 text-white
                                 text-xl
                                 font-light"  (click) ="onClickValue('5','number')">  5  </button>
                                 </div>

                                 

                                                 <!-- Number 6 button -->
                                 <div class="w-1/4 border-r border-b border-red-400">
                                   <button class="w-full
                                   h-16
                                   outline-none
                                   focus:outline-none
                                   hover:bg-opacity-20
                                   text-white
                                   text-xl
                                   font-light"  (click) ="onClickValue('6','number')">  6 </button>
                                   </div>

                                   



                                                  <!-- Subtraction button -->
                                   <div class="w-1/4 border-r border-b border-red-400">
                                     <button class="w-full
                                     h-16
                                     outline-none
                                     focus:outline-none
                                     hover:bg-opacity-20
                                     text-white
                                     text-xl
                                     font-light"  (click) ="onClickValue('-','function')">  -  </button>
                                     </div>

</div>
<!-- END OF 3RD BUTTON AREA  -->
<!-- START OF 4TH BUTTON AREA -->
<div class="flex w-full">
  <!-- Number 1 button -->
<div class="w-1/4 border-r border-b border-red-400">
 <button class="w-full
 h-16
 outline-none
 focus:outline-none
 hover:bg-opacity-20
 text-white
 text-xl
 font-light"  (click) ="onClickValue('1','number')">  1  </button>
 </div>

                     <!-- Number 2 button -->
 <div class="w-1/4 border-r border-b border-red-400">
   <button class="w-full
   h-16
   outline-none
   focus:outline-none
   hover:bg-opacity-20
   text-white
   text-xl
   font-light"  (click) ="onClickValue('2','number')">  2  </button>
   </div>

   

                   <!-- Number 3 button -->
   <div class="w-1/4 border-r border-b border-red-400">
     <button class="w-full
     h-16
     outline-none
     focus:outline-none
     hover:bg-opacity-20
     text-white
     text-xl
     font-light"  (click) ="onClickValue('3','number')">  3  </button>
     </div>

     



                    <!-- Addition button -->
     <div class="w-1/4 border-r border-b border-red-400">
       <button class="w-full
       h-16
       outline-none
       focus:outline-none
       hover:bg-opacity-20
       text-white
       text-xl
       font-light"  (click) ="onClickValue('+','function')">  +  </button>
       </div>
       </div>
   <!-- END OF 4TH BUTTON AREA  -->
     <!-- START OF 5TH BUTTON AREA  -->
     <div class="flex w-full">
      <!-- Number 0 button -->

      <div class="w-1/4 border-r border-b border-red-400">
        <button class="w-full
        h-16
        outline-none
        hover:bg-red-700hover:bg-opacity-20
       
        text-white
        text-xl
        font-light"  (click) ="onClickValue('0','number')">  0  </button>
        </div>
                              


<!-- DECIMAL POINT -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-opacity-20
          text-white
          text-xl
          font-light"  (click) ="onClickValue('.','function')">  .  </button>
          </div>



<!-- EQUALS SIGN -->
          <div class="w-2/4 border-r border-b border-red-400">
            <button class="w-full
            h-16
            outline-none
            focus:outline-none
            hover:bg-opacity-20
            text-white
            text-xl
            font-light"  (click) ="onClickValue('=','function')">  = </button>
            </div>
            </div>
              <!-- END OF 5TH BUTTON AREA -->



            </div>
                              <!-- END CALCULATOR AREA -->
                              </div>
                              </div>
                              





                             